# --- Database ---
JTD_POSTGRES_CONNSTR=

# --- jtd settings and networking ---
JTD_SIGNING_SECRET=
JTD_REDIRECT_URL=
JTD_PUBLIC_URL=
JTD_BIND_ADDR=

# --- GitHub App ---
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_APP_ID=
GITHUB_PRIVATE_KEY_PATH=
GITHUB_WEBHOOK_SECRET=
GITHUB_APP_SLUG=
