JTD_POSTGRES_CONNSTR=
JTD_SIGNING_SECRET=
JTD_REDIRECT_URL=https://domain.tld:port/api/v1/auth/github/callback
JTD_PUBLIC_URL=https://domain.tld:port

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GITHUB_APP_ID=
GITHUB_PRIVATE_KEY_PATH=

GITHUB_WEBHOOK_SECRET=
